fastapi
uvicorn
python-multipart
pydantic
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
bcrypt
python-jose[cryptography]
email-validator
pydicom
nibabel
numpy
Pillow
# pip uninstall bcrypt passlib -y
# pip install "bcrypt==3.2.2" "passlib==1.7.4"
